* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
    height: 100px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__right {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    letter-spacing: 0.68px;
    text-decoration-line: none;
}

.logo img {
    margin-right: 13px;
    margin-right: 13px;
}

.header__form {
    display: flex;
    align-items: center;
    margin-left: 37px;
}

.header__form button {
    height: 40px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
}

.header__form input {
    text-indent: 16px;
}

.header__form img {
    width: 14px;
    height: 14px;
    margin-left: 12px;
    margin-right: 12px;
}

.browse {
    width: 87px;
    height: 38px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    text-align: center;
    line-height: 38px;
}

.button {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    background-color: #f16d7f;
    letter-spacing: 0.38px;
    height: 38px;
    padding-left: 19px;
    padding-right: 19px;
    line-height: 38px;
}

.header__cart {
    margin-right: 26px;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.menu__link {
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    display: block;
}

.promo {
    height: 613px;
    background-color: #e8e8e8;
}

.promo-content {
    background-image: url(img/brand_back.jpg);
    height: 100%;
    background-position: 0 -51px;
}

.promo__big {
    color: #222222;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 45px;
    margin-bottom: 15px;
}

.promo__mini {
    color: #222222;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 31px;
}

.pink {
    color: #f16d7f;
}

.promo__content {
    margin-top: 223px;
    float: left;
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
}

.header-text {
    height: 38px;
    width: 317px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
}







.trendy img{padding-left: 149px;
    padding-bottom: 21px;
    
}

.promo2 {
    margin-top: 98px;
}






