* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
}

.header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
    height: 100px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__right {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    letter-spacing: 0.68px;
    text-decoration-line: none;
}

.logo img {
    margin-right: 13px;
    margin-right: 13px;
}

.header__form {
    display: flex;
    align-items: center;
    margin-left: 37px;
}

.header__form button {
    height: 40px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
}

.header-text {
    text-indent: 16px;
    padding-right: 16px;
}

.header__form img {
    width: 14px;
    height: 14px;
    margin-left: 12px;
    margin-right: 12px;
}

.browse {
    width: 87px;
    height: 38px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    text-align: center;
    line-height: 38px;
}

.button {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    background-color: #f16d7f;
    letter-spacing: 0.38px;
    height: 38px;
    padding-left: 19px;
    padding-right: 19px;
    line-height: 38px;
}

.header__cart {
    margin-right: 26px;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
    background-color: #ffffff;
}

.menu__link {
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    display: block;
}

.promo {
    height: 613px;
    background-color: #e8e8e8;
}

.promo-content {
    background-image: url(img/brand_back.jpg);
    height: 100%;
    background-position: 0 -51px;
}

.promo__big {
    color: #222222;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 45px;
    margin-bottom: 15px;
}

.promo__mini {
    color: #222222;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 31px;
}

.pink {
    color: #f16d7f;
}

.promo__content {
    margin-top: 223px;
    float: left;
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
}

.header-text {
    height: 38px;
    width: 317px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
}

.promo2 {
    margin-top: 98px;
    display: flex;
    margin-bottom: 100px;
}

.promo2-content {
    display: flex;
}

.trendy {
    position: relative;
    width: 560px;
    height: 261px;
    background-color: #dadad2;
    background-image: url(img/trendy.png);
    background-repeat: no-repeat;
    background-position: right -21px;
}

.promo2-left {
    margin-right: 20px;
}

.hot-deal {
    margin-bottom: 20px;
    width: 560px;
    height: 542px;
    background-image: url(img/hot-deal.jpg);
}

.offer {
    margin-bottom: 20px;
    width: 560px;
    height: 261px;
    background-image: url(img/offer.jpg);
}

.new-arrivals {
    width: 560px;
    height: 542px;
    background-image: url(img/new-arrivals.jpg);
}

.promo-text {
    position: absolute;
    color: #222222;
    font-size: 18px;
    font-weight: 950;
    margin-top: 26px;
    padding: 16px 20px;
    letter-spacing: 0.45px;
    background-color: #ffffff;
}

.promo-text span {
    font-size: 30px;
    letter-spacing: 0.75px;
}

.product__link {
    display: block;
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.product__price {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.product__text {
    padding: 20px 14px;
}

.product {
    width: 261px;
    position: relative;
    margin-bottom: 39px;
}

.product:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.product:hover .product__img {
    filter: brightness(40%);
}

.product:hover .product__add {
    visibility: visible;
}

.product__add {
    width: 123px;
    height: 39px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    position: absolute;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    left: 70px;
    top: 98px;
}

.product__add:hover {
    box-shadow: 0 0 5px #fff;
}

.product-box {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-h h2 {
    color: #222222;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.75px;
    margin-bottom: 16px;
    text-align: center;
}

.product-h h5 {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    text-align: center
}

.product-h {
    display: inline-block;
    width: 100%;
    margin-bottom: 60px;
}

.product-box .button {
    width: 212px;
    text-align: center;
    margin-left: 464px;
    margin-top: 40px;
    margin-bottom: 113px;
}

.offer2 {
    background-color: #222224;
    background-image: url(img/offer2.jpg);
    height: 529px;
    background-repeat: no-repeat;
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    display: flex;
    margin-bottom: 97px;
}

.offer2-h {
    margin-left: 39px;
    color: #ffffff;
}

.offer2 h1 {
    font-size: 52px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding-top: 146px;
}

.offer2 h3 {
    font-size: 32px;
    letter-spacing: 0.9px;
}

.offer2 h4 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-bottom: 17px;
    padding-top: 7px;
}

.promo-text2 {
    width: 373px;
    margin-left: 435px;
    margin-top: 55px;
}

.promo-text2 img {
    padding-left: 36px;
    padding-right: 34px;
    float: left;
}

.promo-text2 p {
    width: 219px;
    clear: both;
    padding-left: 111px;
    margin-bottom: 62px;
}

.subscribe {
    height: 100%;
    background-image: url(img/footer.jpg);
    background-size: cover;
    opacity: 0.5;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
    color: #222224;
    margin-bottom: 109px;
}

.subscribe-flex {
    display: flex;
}

.subscribe-left {
    height: 438px;
    width: 570px;
    opacity: inherit;
}

.subscribe-left img {
    padding-top: 111px;
    float: left;
    padding-right: 28px;
}

.subscribe-left p {
    width: 386px;
    padding-top: 123px;
    padding-left: 111px;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 0.4px;
    margin-bottom: 19px;
}

.subscribe-left span {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
}

.subscribe-left h6 {
    padding-left: 111px;
}

.subscribe-right h2 {
    padding-top: 148px;
    padding-left: 147px;
    width: 277px;
    color: #222224;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.6px;
    text-align: center;
    text-transform: uppercase;
}

.subscribe-right h3 {
    padding-left: 147px;
    font-size: 14px;
    letter-spacing: 0.35px;
}

.subscribe-form {
    margin-top: 35px;
    padding-left: 92px;
}

.subscribe-text {
    width: 334px;
    height: 46px;
    border-radius: 23px 0 0 23px;
    background-color: #e1e1e1;
    text-indent: 16px;
    border: 1px solid #e6e6e6;
    border-width: 0px;
    position: absolute;
}

.subscribe-button {
    width: 104px;
    height: 46px;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    border: 1px solid #e6e6e6;
    border-width: 0px;
    position: relative;
    left: 282px;
}

.description {
    width: 427px;
    line-height: 1.5;
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    float: left;
}

.description a {
    margin-bottom: 29px;
}

.footer-menu {
    display: flex;
    width: 609px;
    padding-left: 63px;
    justify-content: space-between;
}

.info {
    margin-top: 14px;
}

.info-list span {
    font-weight: 700;
    font-size: 18px;
}

.info-list {
    text-decoration: none;
    list-style-type: none;
    padding-bottom: 15px;
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.info-ul {
    margin-top: 40px;
}

.footer-flex {
    margin-bottom: 90px;
}

.footer-copy p {
    padding-top: 33px;
    padding-bottom: 32px;
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
}

.footer-copy {
    height: 79px;
    background-color: #e6e6e6;
    display: flex;
}

.networks {
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.networks-box {
    padding-top: 24px;
    display: flex;
    margin-left: 690px;
}

.networks:hover {
    background-color: #f16d7f;
}

.menu-page {
    height: 148px;
    background-color: #f8f3f4;
    text-transform: uppercase;
 
}

.nav-page-box {
    padding-top: 65px;
    color: #f16d7f;

}
.nav-page-box a{
    padding-top: 4px;
    
}
.nav-page-box h1{
    color: #f16d7f;
font-size: 24px;
font-weight: 700;
    
    
}
.nav-page-box a{
font-size: 11px;
    font-weight: 300;}
.nav-page-box h1 span{
    margin-right: 770px;}